*#
*.orig
*.iml
*.ipr
*.iws
*.pyc
*/project/build/target
*/project/project.target.config-classes
project/project/
*~
.#*
.*.swp
.DS_Store
.cache
.classpath
.history
.idea
.project
.sbtserver
.sbtserver.lock
.cache*
target

